div.flexbox {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding:10%;
    /*
    @media (min-width: 600px){
        justify-content: space-between;
    }
    */
}
    
    div.column{
        display:flex;
        flex-wrap: wrap;
        justify-content:center;
        align-items: center;
        padding:inherit;
    }


div.flexbox {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    
    .column:nth-child(1) {
    padding-bottom: 0%;
    }
    .column:nth-child(2) {
    padding-bottom: 0%;
    }
    .column:nth-child(3) {
    padding-bottom: 0%;
    }
    .column:nth-child(4) {
    
    }
    .column:nth-child(5) {
    padding-bottom: 0%;
    }
    .column:nth-child(6) {
    padding-bottom: 0%;
    }
}


div.flexbox {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    /*
    @media (min-width: 600px){
        justify-content: space-between;
    }
    */
}