CSS

/*limited reset*/
html, body, div, section, article, aside, header, hgroup, footer, nav, h1, h2, h3, h4, h5, h6, p, blockquote, address, time, span, em, strong, img, ol, ul, li, figure, canvas, video, th, td, tr {
	margin: 0 auto;
	padding: 0;
	border: 0;
	vertical-align:baseline;
	font: inherit;
}

/*html5 display rule*/
address, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, nav, menu, nav, section, summary {
	display: block;
}

a {
	text-decoration: none;
	color: #fff;
}

a:hover {
	color: #333333;
    border:none;
}

a:active{color:red}


html {
	background: #FFF;
}

body {
	font: 100% Cantarell, Arial, Helvetica, sans-serif;
	line-height: 1.5;
	position: relative;
	background: #F8F7F5;
	color: #FFF;
	font-weight:normal;
	font-style:normal;
}

nav ul {
	list-style: none;
    text-align: left;
}

/*Basic layout styles -----------------------------------------------------------------------------------------------------------*/

body {
	width: 960px;
	margin: 0 auto;
}

header {
	
}
/*
.sticky {
  position:inherit;
  top: 0;
  width: 100%  
}
*/
#pageFooter {
	clear:both;
	overflow:hidden;
	height: auto;
    background: #E1F9F9;
    text-align: center;
    padding:10px;
    font-size: 1.2em;
}
footer a{
    color: #00CEF4;
}

/* Content region styles -----------------------------------------------------------------------------------------------------------*/

/*header styles*/
header {
    text-align: center;
}

header h1 {
	font-size: 4em;
	font-weight: bold;
	line-height: 65px;
	background: url;
	color: #fff;
}

header a:hover {
	color: #EBEBA9;
	border: none;
}

/*nav styles*/
#mainNav {
	margin-bottom: 0em;
    padding-top: 0px;
    background-color:#E1F9F9;
    outline: 5px solid #fff;
    height:;
}

#


#mainNav a {
	text-transform: uppercase;
	color: black;
	border: none;
	font-size: 1.2em;
}

#mainNav a:hover {
	color: #203A40;
}
li{
    color:black;
    text-align: left;
    padding-left:0px;
    padding-bottom: 5px;
}
.currentLink {
   color: #203A40;
}
.column a{
    color:black;
}
.column a:hover{
    color:#fff;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media only screen and (max-width:480px) {
 
body {
	width: 95%;
	font-size: 85%;
    }

header {
    background-repeat: no-repeat;
    padding-bottom: 0px;
    width: 100%;
    height: auto;
    background-size: 100% auto !important;
    align-content: center;
    background-color: #F8F7F5; 
}

header h1 {
	font-size: 3em;
	line-height: 2em;
	text-decoration:none;
    visibility: hidden;
    text-align: center;
    width: 90%;
}

/*nav styles*/
#mainNav {
	margin-bottom: 1em;
    
}

#mainNav li {
	text-align: center;
    display:inline;
    margin: 0.5%;
}

#mainNav a {
	text-transform: uppercase;
	color: #fff;
	border: none;
	font-size: 1.1em;
    
}

#mainNav a:hover {
	color: #203A40;
}
.button {
  background-color: #E1F9F9;
  border: none;
  color: white;
  padding: 8px 9px 4px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 12px; 
}
*{box-sizing: border-box;}
/* Create three equal columns that floats next to each other */
.column {
  float: left;
  width: 33.33%;
  height:90%;
  padding: 0px;
  text-align: center;
  background-color: #F8F7F5;
  
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.column {
    width: 100%;
/*may be changed*/
    height:90%;
  }
  

.column h2{
    font-size: 1.4em;
    color:#fff
}
.column h3 {
    font-size:1.2em;
    color:#fff;
}
.column p{
    font-size:1.1em;
    color:black;
}

.column:nth-child(1) {
  background-image: url(/images/gfm_logo_cropped_css_finished_Logo%2003-%20600%20x%20600%20px_Logo%2003-%20600%20x%20600%20px.svg);
    background-repeat: no-repeat;
    height: inherit;
    width: 100%;
}
.column:nth-child(2) {
  padding-bottom: 0%;
}
.column:nth-child(3) {
  padding-bottom: 0%;
}
li{
    color:black;
    text-align: left;
    padding-left:18%;
}
#photo {
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    padding-top:0px;
    } 
.map{
    padding-top: 1em;
    height:25em;
    }
}

/*tablet styles*/
@media only screen and (min-width:481px) and (max-width:768px) {
	body {
	width: 95%;
	font-size: 85%;
    max-height: 450px;
    
    }

header {
    background-repeat: no-repeat;
    background-size:cover;
    background-color: #F8F7F5;
	padding-top: 0px;
    padding-bottom: 0px;
    align-content: center;
    overflow:auto;
    width: 100%;
    background-size: 100% auto !important;
    background-color: #F8F7F5;
}

header h1 {
	font-size: 3em;
	line-height: 180%;
	text-decoration:none;
    visibility: hidden;
    text-align: center;
}

/*nav styles*/
#mainNav {
	margin-bottom: em;
}

#mainNav li {
	text-align: center;
    display:inline;
    margin: 2%;
}

#mainNav a {
	text-transform: uppercase;
	color: #0396A6;
	border: none;
	font-size: 1.4em;
    
}

#mainNav a:hover {
	color: #333333;
}
.button {
  background-color: #E1F9F9;
  border: none;
  color: #0396A6;
  padding: 8px 9px 4px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 12px;
  
}
    
nav.flexbox {
    display: flex;
    justify-content: space-between;
    align-items: center;
    }
    
    ul {
        display: flex;
        align-items: center;
    }
    
    ul li {
        margin-right: 20px;
        
        &:last-child {
            margin-right: 
        }
    }
}
/*
*{box-sizing: border-box;} /*
/* Create three equal columns that floats next to each other */
    /*
.column {
  float: left;
  width: 33.33%;
  height:90%;
  padding: 0px;
  text-align: center;
  background-color: #E1F9F9;
  border-bottom: ;
}
*/
/* Clear floats after the columns */ /*
.row:after {
  content: "";
  display: table;
  clear: both;
}

.column {
    width: 33.33%;
    */
/*may be changed*/
    /*
    height:90%;
    overflow: scroll;
  }
  

.column h2{
    font-size: 1.4em;
    color:#fff
}
.column h3 {
    font-size:1.2em;
    color:#fff;
}
.column p{
    font-size:1.1em;
    color:black;
}

.column:nth-child(1) {
  background-image: url(/images/gfm_logo_cropped_css_finished_Logo%2003-%20600%20x%20600%20px_Logo%2003-%20600%20x%20600%20px.svg);
    background-repeat: no-repeat;
    height: inherit;
    width: 50%;
    background-color: #E1F9F9;
}
.column:nth-child(2) {
  height:inherit;
    width: 40%;
    background-color: #E1F9F9;
}
.column:nth-child(3) {
  height:inherit;
    width: 10%;
    background-color: #E1F9F9;
}
*/
li{
    color:black;
    text-align: left;
    padding-left:20%;
}
#photo {
    
    background-repeat: no-repeat;
    background-size: contain;
    background-position: left top;
    padding-top:0px;
    }  
}
/*desktop styles*/
@media only screen and (min-width:769px) {
	body {
	width: 95%;
	font-size: 80%;
    
    }

header {
    background-repeat: no-repeat;
	padding-top: 0px;
    padding-bottom: 0px;
    width: 100%;
    height: auto;
    background-size: 100% auto !important;
    align-content: center;
    background-color: #F8F7F5;
}

header h1 {
	font-size: 3em;
	line-height: 90px;
	text-decoration:none;
    visibility: hidden;
    text-align: center;
}

/*nav styles*/
#mainNav {
	margin-bottom: 2em;
    padding-top: 1.4em;
}

#mainNav li {
	text-align: center;
    display:inline;
    margin: 6%;
}

#mainNav a {
	text-transform: uppercase;
	color: #fff;
	border: none;
	font-size: 1.4em;
    
}

#mainNav a:hover {
	color: #8CC63F;
}
.button {
  background-color: #00614D;
  border: none;
  color: white;
  padding: 8px 9px 4px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 12px;
}

*{box-sizing: border-box;}
/* Create three equal columns that floats next to each other */
.column {
  float: left;
  width: 33.33%;
  height:90%;
  padding: 0px;
  text-align: center;
  background-color: #F8F7F5;
  border-bottom: ;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

li{
    color:black;
    text-align: left;
    padding-left:40px;
}

.column h2{
    font-size: 1.4em;
    color:#fff
}
.column h3 {
    font-size:1.2em;
    color:#fff;
}
.column p{
    font-size:1.1em;
    color:black;
}

.column:nth-child(1) {
  background-image: url(/images/gfm_logo_cropped_css_finished_Logo%2003-%20600%20x%20600%20px_Logo%2003-%20600%20x%20600%20px.svg);
    background-repeat: no-repeat;
    height: inherit;
    width: 50%;
        
}
.column:nth-child(2) {
  height:auto;
}
.column:nth-child(3) {
  height:auto;
  padding-right:;
}
#photo {
    background-repeat: no-repeat;
    background-size: contain;
    background-position: left top;
    padding-top: ;
    }
}


